<div class="d_t w_100 h_100 ">
	<div class="d_tr ">
		<div class="d_tc va_m ta_c">
			<div class="col-md-4 col-md-offset-4">
				<div class="jumbotron">
					<h2 class="text-capitalize">sign up</h2>
					<br/>
					<h4>{{ message }}</h4>
				</div>
			</div>
		</div>
	</div>
</div>
