<div id="authorization-list">
	{{ modal_form }}
	<div class="row">
		<div class="col-md-12">
			<div class="pull-right">
				<div class="form-group">
					{{ authorization_add_button }}
				</div>
			</div>
		</div>
	</div>
	<div class="fa-table">
		<div class="row">
			<div class="col-md-12">
				{{ authorization_list }}
			</div>
		</div>
	</div>
</div>
