<h3>RFQ materials</h3>

<a class="btn btn-sm btn-primary pull-right bs-modal-link {{ rfq_item_material_metadata_add }}" href="#">Attach material</a>

<div class="indent"></div>

{#<div class="fa-table">#}
	{#{{ rfq_material_list }}#}
{#</div>#}

<div class="table-responsive">
	{{ rfq_material_list }}
</div>

