<h3>RFQ vendor companies</h3>

<a class="btn btn-sm btn-primary pull-right bs-modal-link {{ company_metadata_add }}" href="#">Assign company</a>

<div class="indent"></div>

<div class="table-responsive">
	{{ company_list }}
</div>
