<div id="modal-delete-user" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="bs-modal form-horizontal" method="post" action="#" title="my-form" id="form-delete-user" name="form-delete-user">
				<div class="modal-header">
					<button type="button" class="cancel close">
						<span>&times;</span>
					</button>
					<h3 class="modal-title">Delete user</h3>
				</div>
				<div class="modal-body">
					<div class="col-md-12 text-center">
						<div class="form-group form-group-sm">
							<div class="col-md-12 text-center has-feedback">
								<input id="delete_user_fake" name="delete_user_fake" class="form-control hidden"></input>
								<div class="help-block"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class=" form-group form-group-sm">
								<label for="account_name_delete" class="col-md-3 control-label">
									Name
								</label>
								<div class="col-md-9 has-feedback">
									<input id="account_name_delete" name="account_name" type="text" class="form-control" disabled/>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group form-group-sm">
								<label for="account_type_name_delete" class="col-md-3 control-label">
									Type
								</label>
								<div class="col-md-9 has-feedback">
									<input id="account_type_name_delete" name="account_type_name" type="text" class="form-control" disabled/>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group form-group-sm">
								<label for="authentication_email_delete" class="col-md-3 control-label">
									Email
								</label>
								<div class="col-md-9 has-feedback">
									<input id="authentication_email_delete" name="authentication_email" type="text" class="form-control" disabled/>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="submit btn btn-primary" type="submit">Submit</button>
					<a class="cancel btn btn-default">Close</a>
				</div>
			</form>
		</div>
	</div>
</div>
