<div id="user-list">
	{{ account_admin_form_add }}
	{{ account_admin_form_delete }}
	<div class="row">
		<div class="col-md-2 col-md-offset-10">
			<div class="form-group">
				<a href="#" class="btn btn-block btn-primary btn-sm bs-modal-link {{ add_account_metadata }}">Add</a>
			</div>
		</div>
	</div>
	<div class="row fa-table">
		<div class="col-md-12">
			{{ content }}
		</div>
	</div>
</div>
