<div id="form-profile" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="bs-modal form-horizontal" name="form-profile" method="post" action="#">
				<div class="modal-header">
					<button type="button" class="cancel close">
						<span>&times;</span>
					</button>
					<h3 class="modal-title"></h3>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12 text-center">
							<div class="form-group form-group-sm">
								<div class="col-md-12 text-center has-feedback">
									<input id="fake_validation_message" name="fake_validation_message" class="form-control hidden"/>
									<div class="help-block"></div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group form-group-sm">
								<label for="account_surname" class="col-md-3 control-label">
									Surname
								</label>
								<div class="col-md-9 has-feedback">
									<input id="account_surname" name="account_surname" type="text" class="form-control"/>
									<span class="form-control-feedback"></span>
									<div class="help-block"></div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="account_name" class="col-md-3 control-label">
									Name
								</label>
								<div class="col-md-9 has-feedback">
									<input id="account_name" name="account_name" type="text" class="form-control"/>
									<span class="form-control-feedback"></span>
									<div class="help-block"></div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="account_patronymic" class="col-md-3 control-label">
									Patronymic
								</label>
								<div class="col-md-9 has-feedback">
									<input id="account_patronymic" name="account_patronymic" type="text" class="form-control"/>
									<span class="form-control-feedback"></span>
									<div class="help-block"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="submit btn btn-primary" type="submit">Submit</button>
					<a class="cancel btn btn-default" href="#">Close</a>
				</div>
			</form>
		</div>
	</div>
</div>
