<div class="page-header">
	<div class="row">
		<div class="col-md-12">
			<div class="pull-left">
				<h1>OVERVIEW</h1>
			</div>
		</div>
	</div>
</div>

<div class="o_h">
	<div class="row">
		<div class="col-md-12">
			<h4>Not approved vendors</h4>
		</div>
		<div class="col-md-12 fa-table">
			{{ not_approved_vendors }}
		</div>
	</div>
	<div class="indent"></div>
	<div class="row">
		<div class="col-md-6">
			<h4>Pending PRs</h4>
		</div>
		<div class="col-md-6">
			<h4>Opened RFQs</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 fa-table">
			{{ pending_pr }}
		</div>
		<div class="col-md-6 fa-table">
			{{ opened_rfq }}
		</div>
	</div>
	<div class="indent"></div>
	<div class="row">
		<div class="col-md-12">
			<h4>Opened POs</h4>
		</div>
		<div class="col-md-12 fa-table">
			{{ opened_po }}
		</div>
	</div>
</div>
