<div class="page-header">
	<h1>Materials</h1>
</div>

<div class="row">
	<div class="col-md-5">
		<div id="material-group-list-filter">
			{{ material_group_list_filter }}
		</div>

		{#<div class="indent"></div>#}

		<div id="material-group-list">
			{{ material_group_list }}
		</div>
	</div>
	<div class="col-md-7">

		<div id="material-list-filter">
			{{ material_list_filter }}
		</div>

		{#<div class="indent"></div>#}

		<div id="material-list">
			{{ material_list }}
		</div>
	</div>
</div>
