<div id="company-list">
	{{ company_form }}
	<div class="row">
		<div class="col-md-12">
			<div class="pull-right">
				<div class="form-group">
					{{ company_add_button }}
				</div>
			</div>
		</div>
	</div>
	<div class="fa-table">
		<div class="row">
			<div class="col-md-12">
				{{ company_list }}
			</div>
		</div>
	</div>
</div>
