<div id="material-form-delete" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="bs-modal form-horizontal" name="material-form-delete" method="post" action="#">
				<div class="modal-header">
					<button type="button" class="cancel close">
						<span>&times;</span>
					</button>
					<h3 class="modal-title"></h3>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group form-group-sm">
								<label class="col-md-3 control-label" for="material_group_name_delete">group</label>
								<div class="col-md-9">
									<input id="material_group_name_delete" class="form-control" name="material_group_name" type="text" disabled="disabled">
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group form-group-sm">
								<label class="col-md-3 control-label" for="material_name_delete">material</label>
								<div class="col-md-9">
									<input id="material_name_delete" class="form-control" name="material_name" type="text" disabled="disabled">
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group form-group-sm">
								<label class="col-md-3 control-label" for="material_title_delete">title</label>
								<div class="col-md-9">
									<input id="material_title_delete" class="form-control" name="material_title" type="text" disabled="disabled">
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group form-group-sm">
								<label class="col-md-3 control-label" for="material_file_delete">file</label>
								<div class="col-md-9">
									<input id="material_file_delete" class="form-control" name="material_file" type="text" disabled="disabled">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="submit btn btn-primary" type="submit">Submit</button>
					<a class="cancel btn btn-default pull-right" href="#">Close</a>
				</div>
			</form>
		</div>
	</div>
</div>
