<div>
	<h2>purchaser overview</h2>
</div>
{#<div class="o_h">#}
	{#{{ content }}#}
{#</div>#}
<div class="row">
	<div class="col-md-6">
		<table class="table table-bordered table-striped">
			{#<thead>#}
			{#<tr>#}
			{#<th>#</th>#}
			{#<th>First Name</th>#}
			{#<th>Last Name</th>#}
			{#<th>Username</th>#}
			{#</tr>#}
			{#</thead>#}
			<tbody>
			<tr>
				<td><b>Vendors for approval:</b></td>
				<td>3</td>
				<td><a href="#">viev all</a></td>
			</tr>
			<tr>
				<td><b>Pending RFQs:</b></td>
				<td>3</td>
				<td><a href="#">viev all</a></td>
			</tr>
			<tr>
				<td><b>New POs:</b></td>
				<td>0</td>
				<td><a href="#">viev all</a></td>
			</tr>
			<tr>
				<td><b>Pending delivery schedule:</b></td>
				<td>3</td>
				<td><a href="#">viev all</a></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
