<div id="jstree"></div>

{{ material_form_edit }}
{{ material_form_delete }}

<div>
	<a class="btn btn-primary btn-sm pull-right bs-modal-link {{ material_metadata_add }}" title="Add material" href="#">
		Add
	</a>
</div>

<div class="indent"></div>

<div class="fa-table">
	{{ content }}
</div>

